<link rel="stylesheet" href="/assets/styles/header.css" />
<header>
  <h1>Mon super site web</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
      </li>
      <li>
        <a href="/dist/about.html">about</a>
      </li>
    </ul>
  </nav>
</header>