<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="global.css">
    <title>Document</title>
  </head>
  <body>
		{{>header}}
		<main>
			{{>card title="HEYOOOO" subtitle="how is it going?" content="I'm a card"}}

			{{#>button}}hay look at me I'm a button{{/button}}
			{{#>button}}I'm a button too{{/button}}
		</main>
  </body>
</html>